@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

$red : hsl(0, 36%, 70%);
$soft-red : hsl(0, 93%, 68%);
$dark-red: hsl(0, 6%, 24%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
 
.container{
    display: flex;
    .content {
        width: 100%;
    
    .logo {
        height: 80px;
        display: flex;
        justify-content: start;
        align-items: center;

        img {
            margin-left: 30px;
            width: 100px;
        }
    }
    .mobile--cover  {
     display: block;
     width: 100%;
     margin-bottom: 50px;
     
    }
}
.desktop--cover {
    display: none;
}
}

.info {
    text-align: center;
    width: 80%;
    margin: auto;
    h1 span {
        display: block;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2.5rem;
        letter-spacing: 0.5rem;
        color: $dark-red;

        &:first-child {
            color: $red;
            font-weight: 300;
        }
    }
    p {
        margin-top: 20px;
        text-align: center;
        color: $red;
        line-height: 1.5rem;
        font-size: 0.9rem;
    }
}
.subscribe {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid $red;
    border-radius: 40px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.3);

    input {
        background-color: transparent;
        border: none;
        width: 100%;
        padding-left: 15px;
        color: $red;
        font-family: 'Josefin Sans', sans-serif;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: $red;
            font-family: 'Josefin Sans', sans-serif;
        }
    }

    button {
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        border-radius: 40px;
        border: none;
        padding: 0 30px;

        &:hover {
            outline: none;
            background: linear-gradient(135deg, rgba(243, 107, 107, 0.8), hsla(0, 62%, 70%, 0.8)); 
            cursor:pointer;
        }
    }
}


.subscribe.error {
    border: 1px solid $soft-red;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-right: none;
}

#email:focus {
    outline: thin dotted $dark-red;
    
    
  }
.error--icon {
    display: none;
}
.error--icon.visible {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;

  }
  .validation--message {
    display: block;
    padding-left: 30px;
    
  }


@media only screen and (min-width:961px) {
    .container {
        height: 100vh;
       
        .content {
            width: 60%;
            padding: 3% 12%;

            .logo img {
                margin-left: 0;
                width: 30%;
            

            }
        

            .mobile--cover {
                display: none;
            }
        }
        .desktop--cover {
            display: block;
            width: 40%;
            
        } 
    }

    .info {
        margin-top: 80px;
        width: 100%;
        text-align: start;
      h1 span {
          font-size: 3rem;
          letter-spacing: 0.75rem;
      }
    p {
        font-size: 1.1rem;
        line-height: 1.75rem;
        text-align: left;
    }
}
.subscribe {
    margin-top: 40px;
    height: 60px;

    input {
        padding-left: 30px;
        font-size: 18px;

        &::placeholder {
            font-size: 18px;
        }
    }
    button {
        padding: 0 40px;

    }
}

}